.employees {
    display: grid;
    gap: 0;
}
.employees li { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #e0e0e0;
}
.employees .cards-card-body { 
    padding: 20px;
    border-right: 1px solid #e0e0e0;
}
.employees .cards-card-body:last-child {
    border-right: none;
}
